<!doctype html>
<html lang="pt-br">
  <head>
    <title>Dona Rosa Presentes</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
      <div class="container">
        <h1>Dona Rosa Presentes</h1>
        <h2 th:text="${cadastro.nome}"></h2>
        <h2 th:text="${cadastro.idade}"></h2>
        <h2 th:text="${cadastro.email}"></h2>
        <h2 th:text="${cadastro.senha}"></h2>

        <a class="btn btn-primary" href="/">VOLTAR</a>

      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>